name: "Assign Reviewer"

on:  
  pull_request:
    types: [opened, ready_for_review, reopened, review_requested, review_request_removed]
     
jobs:
  assign-pr-reviewers:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v1.2.4
        with:
          configuration-path: ".github/auto_assign.yml"
